<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <!--    STYLESHEETS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <!--    BOOTSTRAP SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
    <style>
        table {
            width: 100%;
        }

        table td, table th {
            border: 5px solid grey;
        }

        table th {
            background: #eee;
        }

        .pagination-div {
            user-select: none;
        }

        .pagination-div span {
            text-align: right;
            border-radius: revert;
            border: 2px solid black;
            padding: 10px;
            margin: 15px 10px 0px 10px;
            display: inline-block
        }

        span.selected {
            background: lightgray;
        }
    </style>
<body>
<h1>Employee</h1>
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Add New Employee
    </button>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#position">
        + Add New Position
    </button>
    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#myModal">
        ! Positions List
    </button>
    <table class="table table-dark mt-4">
        <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="employee:${employeeList}">
        <tr th:each="employee : ${page.content}">
            <td th:text="${employee.fullName}"></td>
            <td th:text="${employee.position.name}"></td>
            <td th:text="${employee.salary}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{employees-update/{id}(id=${employee.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{employees-delete/{id}(id=${employee.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/employees(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/employees(page=${i},size=${page.size})}">[[${i}+1]]</a>
                    </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/employees(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>

    <!-- Modal Employee -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- MODAL ADD FORM -->
                    <form th:object="${employee}" th:action="@{/employees}" th:method="post">
                        <div class="mb-3">
                            <label for="exampleInputFullName1" class="form-label">Full Name</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="exampleInputFullName1"
                                    name="fullName"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPosition1" class="form-label">Position</label>

                            <select
                                    name="positionId"
                                    id="exampleInputPosition1"
                                    class="form-select"
                                    aria-label="Default select example">
                                <option selected>Select position:</option>
                                <option
                                        th:each="position:${positionList}"
                                        th:value="${position.id}"
                                        th:text="${position.name}"
                                ></option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputSalary1" class="form-label">Salary</label>
                            <input
                                    type="number"
                                    min="0"
                                    max="10000000"
                                    class="form-control"
                                    id="exampleInputSalary1"
                                    name="salary">
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="reset" class="btn btn-info">Reset</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Position -->
    <div class="modal fade" id="position" tabindex="-1" aria-labelledby="position" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="position1">Add New Position</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- MODAL ADD FORM -->
                    <form th:object="${position}" th:action="@{/positions}" th:method="post">
                        <div class="mb-3">
                            <label for="exampleInputFullName2" class="form-label">Name</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="exampleInputFullName2"
                                    name="name"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputSalary2" class="form-label">Description</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="exampleInputSalary2"
                                    name="description"
                            >
                        </div>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="reset" class="btn btn-info">Reset</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Position List-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Position List</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="position:${positionList}">
                            <td th:text="${position.name}"></td>
                            <td th:text="${position.description}"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#position">
                        + Add New Position
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>